.header{
  display: flex;
  justify-content: space-between;
  background-color: #db3646;
}
.profile-container{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img{
  height: 50px;
  width: 50px;
}
.category{
  background-color: green;
  color: white;
  width: 130px;

    height: 30px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

.description{
  max-height: 50px;
  overflow: hidden;
  font-weight: bold;
}

.ingredient-left{
  height: calc(100vh - 100px);
  overflow: hidden;
  overflow-y: auto;
}

.ingredient-img-container{
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.ingredient-img{
  width: 100%;
  /* height: 300px; */
}